/*
 common.css
 Last Updated: <2015/08/28 15:50:08>
 by Masaya Suzuki

 いまのところはソースの整理ちう.
 そのうち綺麗に整理する…はず.
*/

* {
    margin                     : 0;
    padding                    : 0;
}


body {
    font-family                : "游ゴシック",
                                 "YuGothic",
                                 "ヒラギノ角ゴ Pro",
                                 "メイリオ",
                                 "HG明朝E",
                                 "ＭＳ Ｐ明朝",
                                 "MS PMincho",
                                 "MS 明朝",
                                 serif;
    background-color           : #fafafa;
    color                      : #3f3f3f;
    font-size                  : 1em;
}

a:link, a:visited, a:active {
    text-decoration            : none;
    color                      : #38387f;
}

a:hover {
    color                      : #5050ae;
}

h2 {
    font-size                  : 1.8em;
}

h3 {
    width                      : 100%;
    font-size                  : 1.2em;
}

footer {
    text-align                 : center;
}

#top-logicseminar h2:before {
    content                    : "\f19c";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

#top-whatsnew h2:before {
    content                    : "\f05a";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

#top-contact h2:before {
    content                    : "\f1ac";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

#top-about h2:before {
    content                    : "\f059";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

#sitemap-list li {
    margin-bottom              : 1em;
}

#sitemap-list li:last-child {
    margin-bottom              : 0;
}

.sitemap-child {
    margin-top                 : 1em;
    margin-left                : 3em;
}

.align-center {
    text-align                 : center;
}

.align-right {
    text-align                 : right;
}

.border-top {
    padding-top                : 1em;
    border-top                 : dashed  #2e2e2e 1px;
}

.border-bottom {
    padding-bottom             : 1em;
    border-bottom              : dashed  #2e2e2e 1px;
}

.font-mailaddress {
    font-family                : 'Courier';
}

.seminar-name, .seminar-institute {
    display                    : inline-block;
}

.seminar-name {
    margin-right               : 0.5em;
}

.seminar-institute {
    color                      : #6e6e6e;
}

.seminar-abstract p {
    text-indent                : 0.5em;
    margin-bottom              : 0.5em;
}

.seminar-abstract p:last-child {
    margin-bottom              : 0 !important;
}

.space-top {
    margin-top                 : 1em;
}

.space-bottom {
    margin-bottom              : 1em;
}


.member-image-dummy {
    display                    : table;
    width                      : 128px;
    max-width                  : 128px;
    height                     : 128px;
    margin                     : 0 auto;
    border                     : solid 1px #2e2e2e;

    background-color           : #888;
}

.member-image-dummy p {
    display                    : table-cell;
    text-align                 : center;
    vertical-align             : middle;

    color                      : #fff;
    font-weight                : bold;
}

.member-image {
    display                    : block;
    width                      : 128px;
    height                     : 128px;
    margin                     : 0 auto;
    border                     : solid 1px #2e2e2e;
}

.marked-caret-right-ul li:before {
    content                    : "\f0da";
    font-family                : FontAwesome;
    font-weight                : normal;
    margin-right               : 0.2em;
}

.marked-caret-right-ul li {
    margin-bottom              : 0.5em;
}

.marked-caret-right-ul li:last-child {
    margin-bottom              : 0;
}

.marked-caret-down:before {
    content                    : "\f0d7";
    font-family                : FontAwesome;
    font-weight                : normal;
    margin-right               : 0.2em;
}

.marked-calendar:before {
    content                    : "\f073";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

.marked-user:before {
    content                    : "\f007";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

.marked-lightbulb:before {
    content                    : "\f0eb";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

.marked-comment:before {
    content                    : "\f075";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

.marked-locationarrow:before {
    content                    : "\f124";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

.marked-envelope:before {
    content                    : "\f003";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
}

.marked-angle-double-right:before {
    content                    : "\f101";
    font-family                : FontAwesome;
    font-weight                : normal;
}

.marked-external-link:before {
    content                    : "\f08e";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
    margin-right               : 0.2em;
}

.marked-flag:before {
    content                    : "\f024";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
    margin-right               : 0.2em;
}

.marked-graduation-cap:before {
    content                    : "\f19d";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
    margin-right               : 0.2em;
}

.marked-pencil:before {
    content                    : "\f040";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
    margin-right               : 0.2em;
}

.marked-book:before {
    content                    : "\f02d";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
    margin-right               : 0.2em;
}

.marked-history:before {
    content                    : "\f1da";
    font-family                : FontAwesome;
    font-weight                : normal;
    color                      : #2e2ead;
    margin-right               : 0.2em;
}
