/*
 pc.css
 Last Updated: <2016/12/21 17:56:41>
 by Masaya Suzuki

 いまのところはソースの整理ちう.
 そのうち綺麗に整理する…はず.
*/

@import url("common.css");

body {
    padding                    : 0.5em 0 0 0;
}

header {
    max-width                  : 1100px;
    width                      : 100%;
    min-width                  : 900px;
    height                     : 150px;
    border-bottom              : solid 1px #aeaeae;
    margin-bottom              : 1.5em;
}

footer {
    height                     : 5em;
    padding-top                : 0em;
    padding-bottom             : 1em;
    clear                      : both;
}

h2 {
    margin                     : 0.2em 0 0.8em 0;
}

h3 {
    margin                     : 0.2em 0 0.8em 0;
    width                      : 100%;
}

h2, h3, #top-contact dl dt {
    border-bottom              : dotted #2e2e2e 1px;
}

#contents {
    margin                     : 0.7em auto 1em auto;
}

#contents {
    width                      : 90%;
}

#nav-wrapper {
    position                   : fixed;
    top                        : 7em;
    left                       : 0;
    z-index                    : 100;
    width                      : 100%;
    background-color           : #fafafa;
    opacity                    : 0.92;
}

#nav {
    max-width                  : 1100px;
    width                      : 71%;
    min-width                  : 900px;
    margin                     : 0 auto;
    font-size                  : 0;
    text-align                 : center;
}

#nav ul {
    list-style-type            : none;
}

#nav > li {
    display                    : block;
    float                      : left;
    width                      : 15.3%;
    min-width                  : 128px;
    height                     : 2em;
    font-size                  : medium;
    font-weight                : bold;
    background-color           : #dfdfdf;
    border-top                 : solid 1px #aeaeae;
    border-bottom              : solid 1px #aeaeae;
    border-right               : solid 1px #aeaeae;
    line-height                : 2em;
}

#nav > li:first-child, #nav > li:last-child {
    max-width                  : 2em !important;
    width                      : 2em !important;
    min-width                  : 2em !important;
}

#nav > li:first-child {
    border-left                : solid 1px #aeaeae;
}

#nav .nav-submenu {
    display                    : none;
    position                   : absolute;
    margin-top                 : -1px;
    margin-left                : -1px;
    padding                    : 0px;
    width                      : 25%;
    min-width                  : 328px;
    border-width               : 1px 1px 0px 1px;
    border-style               : solid;
    border-color               : #aeaeae;
    background-color           : #dfdfdf;
}

#nav .nav-submenu li {
    display                    : block;
    width                      : 100%;
    height                     : 2.5em;
    border-width               : 0px 1px 1px 0px;
    border-style               : solid;
    border-color               : #aeaeae;
    background-color           : #dfdfdf;
    text-align                 : left;
    line-height                : 2.5em;
    padding-left               : 0.4em;
}

#nav li:hover {
    background-color           : #afafcf !important;
}

#nav a {
    display                    : inline-block;
    width                      : 100%;
    height                     : 100%;
}

#wrapper {
    margin                     : 0 auto;
    max-width                  : 1100px;
    width                      : 70%;
    min-width                  : 900px;
}

#logo {
    width                      : 60%;
    height                     : 80px;
    float                      : none;
    background-image           : url("../img/Toh_E_L_N_RGB_463.gif");
    background-size            : auto 100%;
    background-repeat          : no-repeat;
    cursor                     : default;
}

#logo h1 {
    position                   : relative;
    top                        : 0px;
    left                       : 90px;
    margin                     : 0px 0 13px 13px;
    font-size                  : 3em;
}

#logo h6 {
    position                   : relative;
    top                        : -15px;
    left                       : 285px;
    font-size                  : 1em;
    font-weight                : normal;
    font-variant               : small-caps;
    color                      : #8e8e8e;
}

#lang {
    position                   : relative;
    top                        : -5em;
    left                       : 70%;
    width                      : 30%;
    text-align                 : right;
}

#top-image-frame {
    margin                     : 0;
    width                      : 100%;
    height                     : auto;
    box-sizing                 : border-box;
    background-color           : #eaeaff;
    border                     : solid 1px #2e2e2e;
}

#top-intro {
    margin                     : 1em auto 1em auto;
    padding                    : 1em 0.7em;
    width                      : 100%;
    box-sizing                 : border-box;
}

#top-logicseminar article > p {
    margin-top                 : 1em;
    padding                    : 0.3em 0;
    border-top                 : dotted 1px #2e2e2e;
    text-align                 : right;
}

#top-whatsnew dd {
    margin                     : 0 0 10px 0;
    padding                    : 0 0 0 10px;
    border-bottom              : dotted 1px #2e2e2e;
}

#top-whatsnew dt:before {
    content                    : "\f08d";
    font-family                : FontAwesome;
    font-weight                : normal;
    margin-right               : 0.2em;
    color                      : #2e2ead;
}

#top-contact dl dd {
    margin-left                : 1em;
    margin-bottom              : 0.7em;
}

#top-about article {
    font-size                  : small;
}

#top-flagcounter {
    display                    : block;
    margin                     : 0 auto;
    margin-top                 : 1em;
}

#footer-pagedata {
    margin                     : 0.8em 0;
    padding                    : 0.4em 0;
    border-top                 : solid 1px #aeaeae;
    border-bottom              : solid 1px #aeaeae;
}

#footer-credit {
    float                      : right;
    color                      : #8e8e8e;
    text-align                 : right;
}

#footer-copyright {
    float                      : left;
}

#seminar-place {
    margin-bottom              : 1em;
    font-size                  : 1.15em;
}

#breadcrumbs-list {
    width                      : 100%;
    border-bottom              : dotted 1px #aeaeae;
    margin-bottom              : 1em;
}

.top-contents-frame {
    padding                    : 0.5em 1em;
    width                      : 45%;
    border                     : solid 1px #2e2e2e;
}

.top-contents-left, .top-contents-right {
    min-height                 : 20em;
    margin-bottom              : 1.2em;
}

.top-contents-left {
    margin-right               : 0.1%;
    float                      : left;
}

.top-contents-right {
    margin-left                : 0.1%;
    float                      : right;
}

.seminar-info {
    width                      : 100%;
    margin-bottom              : 1em;
    border-collapse            : collapse;
    border-spacing             : 0;
}

.seminar-info td {
    margin                     : 0;
    padding                    : 0.5em 0.7em;
}

.seminar-info th {
    width                      : 25%;
    text-align                 : center;
    font-weight                : normal;
}

.seminar-info td {
    width                      : 75%;
}

.member-person {
    display                    : block;
    width                      : 31.3%;
    height                     : 13em;
    margin                     : 0.5%;
    padding                    : 15px 2px;
    border                     : solid 1px #2e2e2e;
    text-align                 : center;
    background-color           : #f4f4fc;
    float                      : left;
}

.member-person:last-child {
    margin-bottom              : 1.5em;
}

.member-person dl {
    margin                     : 5px;
}

.member-person dt {
    margin                     : 0;
    padding                    : 0;
    font-weight                : bold;
}

.member-person dd {
    margin                     : 0;
    pading                     : 0;
    font-size                  : small;
}

.member-list {
    width                      : 100%;
}

.member-list h3 {
    clear                      : both;
}

.member-description {
    padding                    : 0.3em 0;
    color                      : #6e6e6e;
}

.bg-stripe, .bg-stripe-rev {
    border                     : 1px solid #dcdcdc;
}

.bg-stripe tr:nth-child(2n+1),
.bg-stripe li:nth-child(2n+1) {
    background-color           : #d9d9e9;
}

.bg-stripe tr:nth-child(2n),
.bg-stripe li:nth-child(2n) {
    background-color           : #f0f0ff;
}

.bg-stripe-rev tr:nth-child(2n+1),
.bg-stripe-rev li:nth-child(2n+1) {
    background-color           : #f0f0ff;
}

.bg-stripe-rev tr:nth-child(2n),
.bg-stripe-rev li:nth-child(2n) {
    background-color           : #d9d9e9;
}

.bg-box {
    background-size            : 4px 4px;
    background-color           : #f2f2ff;
    background-image           : -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, #fcfcfc), color-stop(.5, transparent), to(transparent));
    background-image           : -moz-linear-gradient(#fcfcfc 50%, transparent 50%, transparent);
    background-image           : -o-linear-gradient(#fcfcfc 50%, transparent 50%, transparent);
    background-image           : linear-gradient(#fcfcfc 50%, transparent 50%, transparent);
}

.spc-indent {
    width                      : 100%;
    padding-left               : 1em !important;
    box-sizing                 : border-box;
}

.list-indent, .list-no-mark {
    width                      : 100%;
    list-style-position        : outside;
    margin                     : 1em 0;
    box-sizing                 : border-box;
    padding                    : 0 0 0 0;
}

.list-no-mark {
    list-style-type            : none;
}

.list-indent li {
    margin-left                : 1em;
}

.etc-no-select {
    user-select                : none; /* CSS3 */
    -moz-user-select           : none; /* Firefox */
    -webkit-user-select        : none; /* Safari、Chromeなど */
    -ms-user-select            : none; /* IE10かららしい */
}

.lab-google-calendar {
    display                    : block;
    width                      : 800px;
    height                     : 600px;
    margin                     : 1em auto;
    border                     : solid 1px #2e2e2e;
}

#footer-mobile-go-top {
    display                    : none;
}

.rec-container {
    width                      : 90%;
    margin                     : 0 auto;
    margin-bottom              : 1.5em;
    border-radius              : 15px;
    border                     : solid 5px;
    padding                    : 1em 1.5em;
}

.rec-container dt {
    font-weight                : bold;
    font-size                  : 105%;
    border-bottom              : dotted #2e2e2e 1px;
    margin-top                 : 0.5em;
    margin-bottom              : 0.2em;
}

.rec-container ul, .rec-container ol {
    width                      : 100%;
    list-style-position        : outside;
    margin                     : 1em 0;
    box-sizing                 : border-box;
    padding                    : 0 0 0 0;
}

.rec-container ul {
    list-style-type            : none;
}

.rec-container ul li:before {
    content                    : "\f0da";
    font-family                : FontAwesome;
    font-weight                : normal;
    margin-right               : 0.2em;
}

.rec-container li {
    margin-left                : 1em;
    margin-bottom              : 0.5em;
}

.rec-container ol li {
    margin-left                : 2em !important;
}

.rec-container dd {
    margin-left                : 0.5em;
}

.doc-code {
    border                     : solid #2e2e2e 1px;
    font-family                : Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size                  : 14px;
    line-height                : 1.2;
}

.doc-picture {
    display                    : block;
    margin                     : 0 auto;
}

/* 色 */
#rec-contents-container .red {
    border-color               : #E98989;
}

#rec-contents-container .blue {
    border-color               : #8989E9;
}

#rec-contents-container .green {
    border-color               : #98E989;
}

#rec-contents-container .yellow {
    border-color               : #F9F969;
}

#rec-contents-container .orange {
    border-color               : #FF9969;
}

#rec-contents-container .purple {
    border-color               : #CC66E9;
}

/* サンプル色 */
#rec-outline-container .sred {
    background-color           : #E98989;
}

#rec-outline-container .sblue {
    background-color           : #8989E9;
}

#rec-outline-container .sgreen {
    background-color           : #98E989;
}

#rec-outline-container .syellow {
    background-color           : #F9F969;
}

#rec-outline-container .sorange {
    background-color           : #FF9969;
}

#rec-outline-container .spurple {
    background-color           : #CC66E9;
}

#rec-contact-container dl {
    margin-left          : 1em;
    width                : 80%;
}

#rec-contact-container dt {
    clear                : left;
    float                : left;
}

#rec-contact-container dd {
    margin-left          : 4em;
}
