/* Customize simple.css */

/* Global variables. */
:root {
 /* Default (light) theme */
  --accent: #0067AC;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --accent: #0067AC;
  }
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}

header h1 {
  font-size: 3rem;
}

img {
  border-radius: 5px;
}