/* CSS To display Scroll to Top gray arrow on blue square button (^) at (bottom right hand corner) START */

				#scrollToTop {
					cursor: pointer;
					font-size: 0.9em;
					position: fixed;
					text-align: center;
					z-index: 9999;
					-webkit-transition: background-color 0.2s ease-in-out;
					-moz-transition: background-color 0.2s ease-in-out;
					-ms-transition: background-color 0.2s ease-in-out;
					-o-transition: background-color 0.2s ease-in-out;
					transition: background-color 0.2s ease-in-out;
				
					background: #003d7c;
					color: #ffffff;
					border-radius: 0px;
					padding-left: 12px;
					padding-right: 12px;
					padding-top: 12px;
					padding-bottom: 12px;
					right: 20px; bottom: 20px;
				}
				
				#scrollToTop:hover {
					background: #1a5796;
					color: #ffffff;
				}
				
				#scrollToTop > img{
					display: block;
					margin: 0 auto;
				}

		
/* CSS To display Scroll to Top gray arrow on blue square button (^) at (bottom right hand corner) END */